body {
	background-color: #4D4D4D;
	text-align: center;
	font-family: 'Oswald';
	color: black;
}

body a:link {
	color: black;
}

.top-header {
	background-color: #EDEDED;
	color: black;
	font-family: 'Oswald';
	width: 95%;
	margin: 0 auto 0 auto;
	height: 150px;
}

.top-header h5 {
	color: black;
	padding-left: 120px;
	margin-top: 2px;
	font-family: 'Permanent Marker';
	position: inherit;
	text-align: center;
}

.top-header a {
	text-decoration: none;
	color: black;
}

.top-header a:visited {
	text-decoration: none;
	color: black;
}

.top-header ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.top-header li {
	display: inline;
	padding-left: 100px;
	padding-right: 40px;
}

.top-header li:hover {
	opacity: .4;
}

.image-space {
	background-image: url(images/guit_header.jpg);
	height: 250px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.image-space img {
	padding-top: 75px;
	opacity: .7;
}

.image-space img:hover {
	opacity: 1;
}

.image-space a {
	opacity: 1;
}

.all-below {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	background-color: #EDEDED;
	display: inline-block;
	height: auto;
	clear: both;
}

.left-box {
	height: 350px;
	width: 20%;
	background-color: #EDEDEE;
	padding-top: 5px;
	color: black;
	margin-left: 5%;
	font-family: 'Oswald';
	text-align: left;
	float: left;
}

.left-box h1 {
	text-align: center;
}

.left-box li:hover {
	opacity: .7;
	text-decoration: none;
}

.left-box a:visited {
	color: black;
}

.right-body {
	background-color: #EDEDED;
	color: black;
	margin-left: 35%;
	font-family: 'Oswald';
	float: right;
	position: absolute;
	width: 315px;
	text-align: left;
}

.right-body p {
	font-size: 11px;
}

.right-body h1 {
	text-align: center;
}

.right-body h4 {
	text-align: center;
	font-family: 'Permanent Marker';
}

.right-body a {
	text-decoration: none;
}

.right-body a:visited {
	color: black;
}

.vids {
	float: none;
	font-family: 'Oswald';
	background-color: #EDEDED;
	padding-left: 760px;
	text-align: center;
}

/* footer stuff */

#footer {
	background-color: grey;
	width: 95%;
	margin: auto auto auto auto;
	font-family: 'Oswald';
	height: 170px;
	text-align: center;
	color: white;
	font-size: 12px;
}

#footer ul {
	display: inline-block;
	list-style-type: none;
	text-align: left;
	padding: 0px;
}

#footer h4 {
	font-family: 'Permanent Marker';
}

#footer li {
	padding-right: 100px;
}

#footer li:hover {
	opacity: .7;
}

#footer .flogo {
	clear: both;
}

.cleary {
	clear: both;
}

/*  listen.html  starts here  */

.listen-all-below {
	width: 95%;
	background-color:#EDEDED;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.listen-all-below h1 {
	padding-top: 30px;
}

.listen-all-below ul {
	list-style-type: none;
	margin-bottom: 0%;
	padding: 0px;
}

.track-listing {
	text-align: center;
	margin: auto auto auto auto;
}

.track-listing h3 {
	font-family: 'Permanent Marker';
}

.track-listing p {
	font-size: 12px;
}


/* instruments.html */

.inst-all-below {
	width: 95%;
	background-color:#EDEDED;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-bottom: 50px;
}

.inst-all-below h1 {
	padding-top: 30px;
}

.instrument {
	display: inline-block;
}

.instrument ul {
	display: inline-block;
	float: left;
	padding-top: 50px;
	list-style-type: circle;
	text-align: left;
	padding-right: 50px;
	width: 100px;
	padding-left: 0px;
}

.instrument h3 {
	font-family: 'Permanent Marker';
}

.instrument p {
	font-size: 12px;
	margin: 6% 5% auto 5%;
	float: none;
	position: inherit;
	text-align: left;
}

.instrument br {
	padding-top: 100px;
}

.namepic {
	float: left;
	text-align: center;
	padding-left: 50px;
}


/* contact page */

.contact-all-below {
	width: 95%;
	background-color:#EDEDED;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	padding-bottom: 100px;
}

.contact-all-below h1 {
	padding-top: 30px;
}

.contact-all-below img {
	float: left;
	display: absolute;
	height: 150px;
	width: 200px;
	padding-left: 80px;
	margin-top: 20px;
}

.contact-all-below h3 {
	padding-bottom: 10px;
}

.addy {
	text-align: left;
	margin-left:30%;	
	position: absolute;
}

.more-info {
	text-align: left;
	margin-left: 60%;
	position: absolute;
}